<div class="container-fluid d-none d-md-block">
    <div class="row bg-faded py-2">
        <div class="col">
            <!-- <div class="row pb-2"><div class="col text-center grey-small font-italic">Representamos</div></div> -->
            <a class="nav-link" href="#!/productos">
                <div class="container">
                    <div class="row py-1" style="height: 40px;">
                        <div ng-repeat="marca in marcas | filter: {id : '!1'} | orderBy: 'id'" class="background-contain col partners-logo mx-2" ng-style="{'background-image': 'url(images/{{marca.foto}})'}" ng-show="marca.foto != null"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="my-4">
        <div class="row">
            <div class="col col-sm-12">
                <slick infinite="true" autoplay="true" dots="true">
                    <div class="slide-img shadow" style="background-image:url(images/slides/5.jpg);"></div>
                    <div class="slide-img shadow" style="background-image:url(images/slides/6.jpg);"></div>
                    <div class="slide-img shadow" style="background-image:url(images/slides/neitz.jpg);"></div>
                    <div class="slide-img shadow" style="background-image:url(images/slides/1.jpg);"></div>
                    <div class="slide-img shadow" style="background-image:url(images/slides/3.jpg);"></div>
                    <div class="slide-img shadow" style="background-image:url(images/slides/4.jpg);"></div>
                    <div class="slide-img shadow" style="background-image:url(images/slides/7.jpg);"></div>
                </slick>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-7 p-3">
            <div class="bg-white p-4 mb-4 shadow d-sm-none">
                <img src="images/noticia.jpg" class="event" alt="">
            </div>
            <div class="bg-white p-4 shadow">
                <p class="title b-b pb-3 text-muted"><b>Quiénes Somos</b></p>
                <p ng-bind-html="marcas[0].descripcion.split('<br> <br>')[1]"></p>
                <p class="text-right">
                    <a class="nav-link" href="#!/about">Ver más</a>
                </p>
            </div>
        </div>
        <div class="col col-lg-5 p-3">
            <div class="bg-white p-4 shadow mb-4 d-none d-sm-block">
                <img src="images/varios.jpg" class="event" alt="">
            </div>
            <div class="bg-white p-4 shadow">
                <p class="title b-b pb-3 text-muted"><b>Empresas representadas</b></p>
                <p>
                    <span ng-repeat="marca in marcas | filter: {id : '!1'} | orderBy: 'id'"> &nbsp · &nbsp {{marca.nombre}}<br></span>
                </p>
                <p class="text-right">
                    <a class="nav-link" href="#!/partners">Ver más</a>
                </p>
            </div>
        </div>
    </div>
</div>
