<div class="container-fluid bg-more-faded" ng-init="vm = {marcaSeleccionada: marcas[0], categoriaSeleccionada: marcas[0].productos[0].categoria}">
    <div class="row no-gutters">
        <div class="col-lg-2 ml-5 lista-marcas bg-white">
            <div class="bg-faded px-3 py-3">
                <b>Marcas</b>
            </div>
            <div ng-repeat="marca in marcas" class="productos-marca px-3 py-3" ng-click="vm.marcaSeleccionada = marca; vm.categoriaSeleccionada = null" ng-class="{'bg-primary text-white': vm.marcaSeleccionada == marca}">
                {{marca.nombre}}
            </div>
        </div>
        <div class="col-lg-2 lista-categorias  bg-white">
            <div class="bg-faded px-3 py-3 pt-4">
                <b>Categorías</b>
            </div>
            <div class="productos-marca px-3 py-3" ng-click="vm.categoriaSeleccionada = null" ng-class="{'bg-primary text-white': vm.categoriaSeleccionada == null}">
                Todos
            </div>
            <div ng-repeat="producto in vm.marcaSeleccionada.productos | unique:'categoria'" class="productos-marca px-3 py-3" ng-click="vm.categoriaSeleccionada = producto.categoria" ng-class="{'bg-primary text-white': vm.categoriaSeleccionada == producto.categoria}">
                {{producto.categoria}}
            </div>
        </div>
        <div class="col-lg-7 px-4 pt-2">
            <div class="row">
                <div class="col-md-4 p-2" ng-repeat="producto in vm.marcaSeleccionada.productos" ng-show="!vm.categoriaSeleccionada">
                    <div class="p-3 producto bg-white">
                        <div class="background-contain" style="height: 100px;" ng-style="{'background-image':'url(' + producto.foto + ')'}" ng-show="producto.foto"></div>
                        <div style="line-height: 100px; text-align: center;" ng-show="!producto.foto"><i>Sin foto del producto</i></div>
                        <div class="text-primary text-center font-weight-bold py-3">{{producto.nombre}}</div>
                        <div class="text-muted text-smaller" ng-bind-html="producto.descrip" ng-show="producto.descrip"></div>
                        <div class="text-muted text-smaller" ng-show="!producto.descrip"><i>Sin descripción</i></div>
                    </div>
                </div>

                <div class="col-md-4 p-2" ng-repeat="producto in vm.marcaSeleccionada.productos | filter: {categoria : vm.categoriaSeleccionada}" ng-show="vm.categoriaSeleccionada">
                    <div class="p-3 producto bg-white">
                        <div class="background-contain" style="height: 100px;" ng-style="{'background-image':'url(' + producto.foto + ')'}" ng-show="producto.foto"></div>
                        <div style="line-height: 100px; text-align: center;" ng-show="!producto.foto"><i>Sin foto del producto</i></div>
                        <div class="text-primary text-center font-weight-bold py-3">{{producto.nombre}}</div>
                        <div class="text-muted text-smaller" ng-bind-html="producto.descrip" ng-show="producto.descrip"></div>
                        <div class="text-muted text-smaller" ng-show="!producto.descrip"><i>Sin descripción</i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
